<!--载入js，在</body>之前插入即可-->
<!--Leancloud 操作库:-->
<!-- <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script> -->
<!--Valine 的核心代码库-->
<!-- <script src="//unpkg.com/browse/valine/dist/Valine.min.js"></script> -->

<% var emoticon_list = ["狂汗.png","不说话.png","汗.png","坐等.png","献花.png","不高兴.png","中刀.png","害羞.png","皱眉.png","小眼睛.png","暗地观察.png"]; %>

<% if (theme.valine != undefined){ %>
  <div class="valine_comment v link" 
    data-enable='<%=theme.valine.enable%>'
    data-ae='<%=theme.valine.autoExpand%>'
    data-notify='<%= theme.valine.notify %>'
    data-verify='<%= theme.valine.verify %>'
    data-visitor='<%= theme.valine.visitor %>'
    data-avatar='<%= theme.valine.avatar %>'
    data-av=AV
    data-el='.valine_comment'
    data-emurl='https://cloud.panjunwen.com/alu'
    data-emlist='<%= emoticon_list %>'
    data-appid='<%= theme.valine.appid %>'
    data-appkey='<%= theme.valine.appkey %>'
    data-pagesize='<%= theme.valine.pageSize %>'
    data-placeholder='<%= theme.valine.placeholder %>'
    >
  </div>
<%}%>


